/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

ul {
    list-style: none;
    padding:0;
    margin:0;
    padding-right:0px;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li:before {
    content: "• ";
    color: red;
}

body p { font-family: 'Neuton', serif; font-weight: 300; font-size: 18px; line-height: 1.3; margin-bottom: 18px }
.container { width: 900px; margin-left: auto; margin-right: auto; margin-bottom: 50px; }
header {}
#newsletter-title { vertical-align: bottom; display: table-cell;}
#issue-details { display: table-cell; vertical-align: bottom; font-family: 'Neuton', serif; font-weight: 400; font-size: 20px; padding-bottom: 10px; padding-left: 40px;}
#article-title { margin-top: 40px; padding-bottom: 10px; border-bottom: 1px solid red;}
ul li { display: inline-block; padding-right: 15px}
ul li:nth-child(3) { display: inline-block; padding-right: 0px}
#red-hot-text { font-family: 'Droid Serif', serif; font-weight: 700; color: #ef4623; font-size: 72px; margin-bottom: 0px;}
#penny-shares-text { font-family: 'Droid Serif', serif; font-weight: 700; font-size: 42px; margin-bottom: 0px; }
h1 { font-family: 'Droid Serif', serif; font-weight: 700; font-size: 36px }
h2 { font-family: 'Droid Serif', serif; font-weight: 700; font-size: 30px; color: #ef4623; margin: 30px 0 15px 0; }
article { width: 600px; }
section { padding-top: 30px; position: relative; }
p#first { font-family: 'Neuton', serif; font-weight: 400; font-size: 22px }
blockquote { font-family: 'Droid Serif', serif; font-weight: 700; font-size: 32px; color: #ef4623; margin: 50px; line-height: 1.4; }
aside { width: 235px; position: absolute; left: 665px; top: 0;}
.full-image img { width: 100%;}
.full-image {margin:0 -400px 0 -100px; }
.img-right-indent { float: right; margin: 10px -50px 10px 15px;}
.img-right-indent img { width: 100% }
.img-left-indent { float: left; margin: 10px 15px 10px -50px;}
.img-medium {}
.summary {}
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    height: 60px;
    width: 229px;
    background-color: #aeceaf;
}

progress::-moz-progress-bar {
    background-color: #000;
}

progress::-webkit-progress-bar {
    background-color: #aeceaf;
}

progress::-webkit-progress-value {
    background-color: #000;
}

/* important for Mozilla and jQuery el.outerWidth(); */
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.menu { margin: 15px 5px 0 0; padding: 2px; top: auto; width: 235px; z-index: 999; height: 390px; display: block;}
.subtitle { margin: 0 0 25px 5px; font-size: 17px; color: #eee; }
.caption { margin: -55px 5px 25px 5px; font-size: 20px; color:#fff;  }
.summary { clear: both; background-color: red; padding: 20px; color: #fff; }
.summary p { font-size: 20px }
strong {font-weight: bold;}
em { font-style: italic; }
.noDecoration, a:link, a:visited {
    text-decoration: none;
}

/* media queries  */

@media only screen and (min-width: 768px) and (max-width : 1024px){
    .container { width: 80%; }
    aside { display: none; }
    #newsletter-title{ width: 65%; }
    article { width: 100%; }
    .full-image { margin: 0; }
    .img-left-indent { margin: 10px 15px 10px 0px;}
    .img-right-indent { margin: 10px 0px 10px 15px;}
    blockquote{ margin: 35px 15px;}
}
@media only screen and (min-width: 569px) and (max-width : 767px){
   .container { width: 80% }
    aside { display: none; }
    #newsletter-title{ width: 65%; }
    article { width: 100%; }
    .full-image { margin: 0; }
    .img-left-indent { margin: 10px 15px 10px 0px;}
    .img-right-indent { margin: 10px 0px 10px 15px;}
    #red-hot-text { font-size: 60px; }
    #penny-shares-text {font-size: 34px;}
    #issue-details{ padding-left: 0px;}
    h1 {font-size: 30px; }
    blockquote{ font-size: 28px; margin: 35px 15px;}
}
@media only screen and (max-width : 568px){
   .container { width: 90%; }
    aside { display: none; }
    #newsletter-title{ width: 57%; }
    article { width: 100%; }
    .full-image { margin: 15px 0px; }
    .img-left-indent { margin: 10px 15px 10px 0px;}
    .img-right-indent { margin: 10px 0px 10px 15px;}
    #red-hot-text { font-size: 40px; }
    #penny-shares-text {font-size: 22px;}
    h1 {font-size: 26px; }
    p#first{ font-size: 19px;}
    body p { font-size: 16px;}
    h2 { font-size: 24px;}
    blockquote{ font-size: 26px; margin: 35px 15px;}
    #issue-details ul li { font-size: 14px; }
    #issue-details { padding-left: 10px;}
}

@media print {
    .container { width: 90%; }
    aside { display: none; }
}